
		body,html{
			height:100%;
			width:100%;
			margin:0;
			position:relative;
			min-width: 431px;
			min-height: 402px;
			
		}.mainmotto{ 
width:100%;

text-align:center;}.menu-icon{

height:80px;
widht:80px; }		
		.onepage-pagination li a:before{
		  background:white !important;
		}.Logo{
	content:url(logo-infinite.png);
	height:12.5%;
}

		.onepage-pagination li a.active:before{
		  border: 2px solid white !important;
		}
		a:hover{
			color:#FF7519 !important;
		}a{
			color:inherit;
		}.back {
	        position: absolute;
	        top: 0;
            
	        left: 0;
	        text-align: right;
	        display: block;
	        width: 25%;
            
			height:100%;
            font-size:2vmax !important;
			float:left;
            background-color:rgba(143,207,251,0.5);
	        box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        color: white;
	        -webkit-transition: all 500ms ease-in-out;
	        -moz-transition: all 500ms ease-in-out;
	        -o-transition: all 500ms ease-in-out;
	        transition: all 500ms ease-in-out;
			font-family:Lato-Regu;

            padding-top:%5;
            padding-right:1%;
	    }
 
	    .viewing-page-2 .back{
	      color: black !important;
	      }
  	    
  	      .viewing-page-2 .Logo{
  	      content:url(logo-infinite.png);
  	      }
		#small{
			height:150%;
			width:100%;
			background-color:black;
		}#menu-one, #menu-two{
			height: 100%;
			width: 25%;
			position: absolute;
			clip: rect(auto, auto, auto, auto);
			z-index:2;
		}#menu-one{
			float:left;
			z-index:;
		}#menu-two{
			z-index:3;
		}#container-one{
			background-image: url("background.JPG");
			background-size:cover;
		}#title-container{
			width:75%;
			height:100%;
			float:right;
			background-color:black;
		}#title{
			font-size:4vmax;
            font-weight:900;

		}#title-column-one{
			width:25%;
			height:25%;
			float:right;
			padding:1%;
		}#title-column-two{
			width:25%;
			height:25%;
			float:right;
			padding:1%;
		}#title-column-three{
			width:25%;
			height:25%;
			float:right;
			padding:1%;
		}#main-intro{
			width:75%;
			height:35%;
			float:right;
		}#menu{
			position: fixed;
			font-size:165%;
			top: 10%;
			margin:0 auto;
			color: white;
			width:100%;
			height:100%;
			font-family:Raleway;
		}.page1{
			background-image: url("background.jpg");
			background-size:cover;
			
		}.scroll{
			height:100%;
			width:100%;
			overflow:auto;
		}.menu ul{
			list-style-type: none;
		}.orange-text{
			color:#FF7519;
		}.white-text{
			color:rgba(255,255,255,1);
		}a{
			text-decoration:none;
		}.navi:hover{
			color:rgb(143,207,251);
		}.column-title{
			font-family:Raleway;
	white-space: nowrap;
	display: inline-block;
	text-align:center;
}
		.blue-text{
			color:rgb(143,207,251);
		}.main-body{
			font-family:Raleway;
			vertical-align:top;
			text-align:center;
			}.big-body{
				font-size:100%;
				font-family:Raleway;
			vertical-align:top;
			font-weight:thin;
			}
		.navi{
			text-align:center;
			
			}#main-text{
				width:76%;
				margin:0%;
				padding:2%;
				height:25%;
				float:right;
			}
		/*
		.mCSB_dragger_bar{
			background-color:rgba(143,205,255,1) !important;
			margin:0 auto !important;
			width:100% !important;
			border-radius:"3%" !important;
			opacity:1;
		}.mCSB_dragger{
			background-color:rgba(0,0,0,0) !important;
			width:100% !important;
			opacity:1;
		}.mCSB_scrollTools{
			background-color:;
			width:1%;
			opacity:1;
		}.mCSB_draggerContainer{
			background-color:  !important;
			width:100%;
			opacity:1;
		}.mCSB_container{
			margin-right:0%;
			width:100%;
			opacity:1;
		}.mCSB_draggerRail{
			width:40px;
			background-color:rgba(0,0,0,0) !important;
			opacity:1;
			}.mCSB_button{
				height:0%;
				width:0%;
				
				}
		*/
		.sections{
						position:absolute;
	}
	@font-face {
font-family: "Lato";
src: url(Lato-Light.ttf) format("truetype");}

	@font-face {
font-family: "Raleway";
src: url(Lato-Light.ttf) format("truetype");}
 @font-face {
font-family: "Lato-Regu";
src: url(Lato-Regular.ttf) format("truetype");}
#main-container{
	width:76%;
	height:100%;
	float:right;
	margin-top:1%;
    
	}#programming{
		height:45%;
		width:33%;
		float:right;
		display:block;
		}#design{
		height:45%;
		width:33%;
		float:right;
		display:block;
		}#innovation{
		height:45%;
		width:33%;
		float:right;
		display:block;
		}#cell-title{
			width:100%;
			height:12.5%;
			padding:1%;
			font-size:175%;
			}.cell-image{
				height:42.5%;
				width:100%;
				display:absolute;
			}.cell-description{
				width:100%;
				height:35%;
				display:block;
				display:relative;
			    font-size: 1.75vmax;
            }.title{
            	font-size:4vmax;
                width:100%;
                text-align:center;
            }.mainmotto{
            	font-size:4vmax;
            }#main-container{
				height:100%;
				width:75%;

				}#main-description{
					margin-top:2%;
					height:24%;
					width:92%;
					float:right;
					padding:1%;
					font-family:Lato-Regu;
					display:block;
					font-size:1.6vmax;
                    font-weight:200;
				}.long-motto{
					vertical-align: middle;
					text-align:center;
					display:block;
				}.uLine{
border-bottom: 1px solid white;
				 }.uLine:hover{
				 border-bottom: 1px solid #FF7519;
				  }.fotorama{
						
						float:right !important;
						width:100% !important;
						height:100% !important;
						margin-right:-22%;
						}.design-image{
							background-image:url(design.png);
							background-size:contain;
							background-repeat:no-repeat;
							background-position:center;
						}.innovation-image{
							background-image:url(innovation.png);
							background-size:contain;
							background-repeat:no-repeat;
							background-position:center;
						}.programming-image{
							background-image:url(programming.png);
							background-size:contain;
							background-repeat:no-repeat;
							background-position:center;
						}.back{

                             }
						@media (max-width: 700px){
							#programming, #design, #innovation{
								width:100%;
								height:24%;
                                
							} 
							#cell-title{
                                font-size:120%;
                            }
							@media (min-width: 700px){
								#main-container{
									width:85%;
								} 
								.back{
	                                width:18%;
                                }
                            .cell-description{
			    font-size: 2.5vmax;
            }
						}
						..onepage-pagination li a{
							background-color:blue;
							border:blue;
						}